.NotFound {
    text-align: center;
    padding: 5rem 1rem;    
    color: white;           
}

.home-link {
    text-decoration: none;
    font-weight: bold;
    color: #00ffb3;
    transition: 0.3s ease;
}

.home-link:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .NotFound {
        padding: 3rem 1rem; 
    }
}
